@font-face{
    font-family: "CandL";
    src: url(font/CandL.woff);
}
body{
	margin: 0px;
}
p.navbar-text{
	font-size: 18px;
}
h1.welcomeText{
	color: white;
	font-size: 42px;
}
h1.industryText{
	color: white;
	font-size: 52px;
}
.invert{
	-webkit-filter: invert(80%);
	 filter: invert(80%);
}
.thumbnail{
	padding: 14px;
}
#navbarHome{
	width: 100%;
	margin: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    border-radius: 0px;
	position: fixed;
	z-index: 1;
}
#loginContainer{
	margin-top: 20px;
	width: 260px;
}
#loginPage{
	padding-top: 200px;
	padding-right: 80px;
	background: url(../images/loginBackground.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: fixed;
}
#registerContainer{
	margin-top: 20px;
	width: 300px;
}
#registerPage{
	text-align: center;
	padding-top: 100px;
	background: url(../images/registerBackground.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: fixed;
}
#industryPage{
	padding-top: 90px;
	padding-left: 80px;
	padding-right: 80px;
	width: 100%;
	height: 100%;
	background: url(../images/industryBackground.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
    overflow: auto;
}
#industryItem{
	border-color: rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.8);
	width: 210px;
	height: 210px;
	text-align: "center";
}